*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.booklist {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    
}
.book{
    min-width: 200px;
    width: 100%;
}
.book img{
    max-width: 100%;
}
